<header class="main-header" [ngClass]="{'sidebar-collapse': sidebarCollapsed}">
            <!-- Logo -->
            <a routerLink="/profile"  class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>L</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Astro</b>Live</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button" (click) = "onToggleSidebar()">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <img src="assets/images/astrolive_square.png" />
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      
                      


                   <!--<li class="dropdown notifications-menu" app-dropdown>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-danger">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                  
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>-->
                        <li class="notifications-menu presenceIcon" tooltip="{{presenceIconTooltip}}" tooltipPlacement="bottom">
                                <!--<span>{{presenceStatus}}</span>-->
                                <i class="fa fa-circle" [ngClass]="{online: presenceStatus === '1', busy: presenceStatus === '2', away: presenceStatus === '3', offline: presenceStatus === '0' }"></i>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                         <li class="notifications-menu" tooltip="Do Not Disturb" tooltipPlacement="bottom">
                                <span>DND</span>
                                 <ui-switch color="#f1c723" size="small" class="dndSwitch" (change)="onChange($event)" [checked]="DNDStatus"></ui-switch>
                                 
                            
                         </li>
                         
                        <li class="dropdown user user-menu" app-dropdown>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{astroDetails?.imgUrl}}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{astroDetails?.name}}</span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{astroDetails?.imgUrl}}" class="img-circle" alt="User Image">
                                    <p>
                                        {{astroDetails?.name}}

                                    </p>
                                </li>
                                <!-- Menu Body -->
                               <!-- <li class="user-body">
                                    <div class="col-xs-6 text-center" style="font-size:12px;">
                                        <a href="#">Contact Us</a>
                                    </div>
                                    <div class="col-xs-6 text-center" style="font-size:12px;">
                                        <a href="#">Terms & Condition</a>
                                    </div>

                                </li>-->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <!--<div class="pull-left">
                                        <a (click)="changePassword.openModal()" class="btn btn-changePass btn-flat">Change Password</a>
                                    </div>-->
                                    <div class="pull-right">
                                        <a class="btn btn-signout btn-flat" (click) = "showSchedule.openModal()"><i class="fa fa-sign-out"></i> Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <app-schedule #showSchedule></app-schedule>
<app-change-password #changePassword></app-change-password>