<div bsModal #AstroInstructionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="_AstroInstructionModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
 
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center"><i class="fa fa-lg fa-exclamation-circle"></i> Instructions</h4>
          
        </div>

       
          <div class="modal-body modal-bodyman">
            <div class="row">
              <div class="col-md-12">
              


<ul> 
    <li class="orange"><a>Ensure that you are in proper attire.</a></li>
    <li class="blue"><a>If you are having beard then it should be properly trimmed.</a></li> 
    <li class="green"><a>Don’t chew tobacco at the time of call.</a></li> 
    <li class="purple"><a>Always pick call within 3 ring.</a></li> 
    <li class="gold"><a>Login as per the timings given to you. Don’t come online or go offline as per your convenience.</a></li> 
    <li class="orange"><a >If shift is for 24 Hrs. then follow that strictly</a></li>
    <li class="blue"><a>After attending video calls always use welcome script once picture is visible.</a></li> 
    <li class="green"><a>Background should be plain neat and clean or any poster related to astrology in background.</a></li> 
    <li class="purple"><a>Handset should be fixed in mobile holder so that it will not shake during live call.</a></li> 
    <li class="gold"><a>Phone should be well charged.</a></li> 
    <li class="orange"><a >Earphone should be well plucked in android phone and ear so that voice should be properly audible to customers.</a></li>
    <li class="blue"><a>Be ready with your laptop.</a></li> 
    <li class="green"><a> Don’t do any activity during live call.</a></li> 
    <li class="purple"><a>If you have to go anywhere in that case logout/DND from astro live.</a></li> 
    
</ul>


              
             
                
            </div>



          </div>
          </div>

          <div class="modal-footer">

            <p class="text-right" style="margin:0; padding:0;">
              <button type="submit" (click)="closeModal()"  class="btn btn-flat btn-continue"><i class="fa fa-arrow-circle-right"></i> Continue</button>
              </p>
          </div>

       



      </div>
    </div>

 
  </div>





  