input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
    color: red;
    font-size: 12px;
}

 .modal-header{

              background-color:#f37911!important;
              border-top-left-radius: 4px;
               border-top-right-radius: 4px;
                padding: 8px 15px 5px 8px; margin:0;
    border-bottom: 1px solid #f1f1f1;
    color:#fff;
          }
        .modal-bodyman{
            
     background-image: url('/assets/images/xxxhdpi-bg-screen.png');
   -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;

        }


.modal-footer{  background-image: url('/assets/images/xxxhdpi-bg-screen.png');
   -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
 padding: 8px 15px 5px 8px; margin:0;
}


        textarea {
    resize: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .margnbtm{margin-bottom:55px;}

  .btn-signout {
    color: #fff;
    background-color: #ee4c23;
    border-color: #d43f3a; 
    border-radius: 4px;
}

.errorMessage {
    margin-left: 24px;
    color: red;
}

.well-sm{
  padding-left: 32px!important;
}
    
.invisible {
  visibility: hidden;
}
           