<div bsModal #ChangePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
 
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Change Password</h4>
          <button type="button" class="close pull-right" (click)="ChangePasswordModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
        </div>

        <form>
          <div class="modal-body modal-bodyman">
            <div class="row">
              <div class="col-md-12">
              
                <div class="form-group">
                               <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
                                  <input class="form-control" placeholder="Old Password" type="password" name="oldpassword" id="oldpassword">
                               </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
                                  <input class="form-control" placeholder="New Password" type="password" name="userpass" id="newpassword">
                               </div>
                            </div>

                            <div class="form-group">
                               <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
                                  <input class="form-control" placeholder="Confirm Password" type="password" id="confirmpassword">
                               </div>
                            </div>

              </div>

            </div>



          </div>


          <div class="modal-footer">

            <p class="text-center" style="margin:0; padding:0;">
              <button type="submit"  class="btn btn-info btn-flat">Save</button>
              </p>
          </div>

        </form>



      </div>
    </div>

 
  </div>





  